.dsc-search-bar {
  display: flex;
  border: 1px solid var(--dsc-color-card-border);
  height: 40px;
  border-radius: 4px;
}

.dsc-search-bar button {
  width: 40px;
  background-color: var(--dsc-color-bg-primary);
  border: none;
  color: var(--dsc-color-font-primary);
}

.dsc-search-bar input {
  width: calc(100% - 80px);
  font-size: 16px;
  border: none;
  padding: 0 10px;
  color: var(--dsc-color-font-primary);
}

.dsc-search-bar input:focus {
  outline: none;
}

.dsc-search-bar input::placeholder {
  color: var(--dsc-color-font-placeholder);
}